 .u-section-1 {
  background-image: none;
  min-height: 1221px;
}

.u-section-1 .u-shape-1 {
  height: 1171px;
  width: calc(((100% - 1140px) / 2) + 702px);
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 731px;
  height: 591px;
  margin: -920px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 386px;
  width: 570px;
  margin: -771px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Roboto, sans-serif;
  margin: 38px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-family: Oswald, sans-serif;
  font-size: 4.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-1 {
  width: 1089px;
  margin: 332px auto 66px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 13.5px));
  min-height: 293px;
  grid-gap: 18px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 62px;
  width: 62px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 58px 2px 0 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 62px;
  width: 62px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 58px 2px 0 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 62px;
  width: 62px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 58px 2px 0 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 62px;
  width: 62px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 58px 2px 0 0;
}

.u-section-1 .u-text-10 {
  font-style: italic;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1244px;
  }

  .u-section-1 .u-shape-1 {
    height: 1179px;
    width: calc(((100% - 940px) / 2) + 735px);
  }

  .u-section-1 .u-image-1 {
    width: 771px;
    height: 587px;
    margin-top: -928px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    min-height: 381px;
    width: 526px;
    margin-top: -767px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 909px;
    margin-top: 337px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    min-height: 321px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1648px;
  }

  .u-section-1 .u-shape-1 {
    height: 1588px;
    width: calc(((100% - 720px) / 2) + 605px);
  }

  .u-section-1 .u-image-1 {
    width: 622px;
    height: 532px;
    margin-top: -1186px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: -863px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    font-size: 4.375rem;
  }

  .u-section-1 .u-list-1 {
    width: 655px;
    margin-top: 406px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9px));
    min-height: 655px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2052px;
  }

  .u-section-1 .u-shape-1 {
    height: 1981px;
    width: calc(((100% - 540px) / 2) + 484px);
  }

  .u-section-1 .u-image-1 {
    width: 476px;
    height: 482px;
    margin-top: -1631px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    min-height: 339px;
    width: 453px;
    margin-top: -760px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-list-1 {
    width: 380px;
    margin-top: 341px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1156px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2029px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 249px);
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 517px;
    object-position: 73.14% 50%;
    margin-top: -1686px;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 307px;
    width: 307px;
    margin-top: -764px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 396px;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  background-image: none;
  min-height: 1100px;
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 879px);
  height: 684px;
  background-image: none;
  margin: 416px 0 0 auto;
}

.u-section-2 .u-image-1 {
  width: 1140px;
  height: 564px;
  margin: -1017px auto 0;
}

.u-section-2 .u-group-1 {
  min-height: 370px;
  width: 408px;
  box-shadow: 5px 5px 23px 0 rgba(0,0,0,0.15);
  text-shadow: 5px 5px 0 rgba(0,0,0,0);
  margin: -118px auto 0 calc(((100% - 1140px) / 2) + 45px);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 22px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-2 .u-group-2 {
  width: 518px;
  min-height: 347px;
  margin: -216px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-text-3 {
  line-height: 1.7;
  font-size: 1.5rem;
  font-style: italic;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 28px auto 0 0;
  padding: 19px 45px 20px 44px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1009px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 700px);
    height: 594px;
    margin-top: 415px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 465px;
    margin-top: -936px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -77px;
    margin-left: calc(((100% - 940px) / 2) + 36px);
  }

  .u-section-2 .u-group-2 {
    width: 439px;
    min-height: 363px;
    margin-top: -254px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1254px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 500px);
    height: 904px;
    margin-top: 350px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 479px;
    margin-top: -1171px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -91px;
    margin-left: calc(((100% - 720px) / 2) + 36px);
  }

  .u-section-2 .u-group-2 {
    min-height: 310px;
    margin-top: 28px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1074px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 454px);
    height: 724px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 450px;
    margin-top: -1011px;
  }

  .u-section-2 .u-group-1 {
    min-height: 350px;
    width: 386px;
    margin-top: -163px;
    margin-left: calc(((100% - 540px) / 2) + 36px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-group-2 {
    width: 412px;
    min-height: 291px;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: 46px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 988px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    height: 768px;
    margin-top: 220px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 309px;
    margin-top: -933px;
  }

  .u-section-2 .u-group-1 {
    min-height: 376px;
    width: 297px;
    margin-top: -83px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
    min-height: 283px;
    margin-top: 8px;
    margin-right: auto;
    margin-bottom: 40px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
  }
} .u-section-3 {
  min-height: 826px;
}

.u-section-3 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 879px);
  left: auto;
  right: 0;
  background-image: none;
}

.u-section-3 .u-shape-2 {
  width: 677px;
  height: 566px;
  background-image: none;
  margin: 195px auto 0 calc(((100% - 1140px) / 2) + 224px);
}

.u-section-3 .u-image-1 {
  width: 675px;
  height: 512px;
  margin: -696px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-group-1 {
  min-height: 443px;
  width: 596px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  margin: -319px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0 0;
  padding: 19px 45px 20px 44px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 700px);
  }

  .u-section-3 .u-shape-2 {
    margin-top: 185px;
    margin-right: calc(((100% - 940px) / 2) + 91px);
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: -686px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-group-1 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 923px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 500px);
  }

  .u-section-3 .u-shape-2 {
    width: 620px;
    height: 601px;
    margin-top: 60px;
    margin-right: calc(((100% - 720px) / 2) + 43px);
  }

  .u-section-3 .u-image-1 {
    width: 593px;
    height: 467px;
    margin-top: -721px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-group-1 {
    margin-top: -116px;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: -60px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 915px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 454px);
  }

  .u-section-3 .u-shape-2 {
    width: 485px;
    height: 496px;
    margin-top: 164px;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    width: 465px;
    height: 388px;
    margin-top: -583px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-group-1 {
    width: 468px;
    margin-top: -70px;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: -28px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 836px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-shape-2 {
    width: 300px;
    margin-top: 112px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-image-1 {
    width: 305px;
    height: 278px;
    margin-top: -568px;
    margin-left: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 442px;
    width: 305px;
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 40px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 678px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 578px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-image-1 {
  width: 268px;
  height: 347px;
  margin: 20px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 289px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 0 0;
}

.u-section-4 .u-icon-1 {
  width: 58px;
  height: 58px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 6px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 289px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px 30px 0;
}

.u-section-4 .u-video-1 {
  width: 540px;
  height: 198px;
  margin: 7px auto 0 -81px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 289px;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-4 .u-text-4 {
  margin-bottom: 0;
  margin-top: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-4 .u-video-2 {
  height: 183px;
  width: 115px;
  margin: 14px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 477px;
  }

  .u-section-4 .u-image-1 {
    width: 220px;
    height: 285px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 238px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 238px;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
    height: 125px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 238px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-4 .u-image-1 {
    width: 165px;
    height: 214px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 458px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 26px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-video-1 {
    width: 258px;
    height: 95px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1095px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 377px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 689px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 358px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 997px;
}

.u-section-5 .u-shape-1 {
  background-image: none;
  height: 604px;
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 60px auto 0 0;
}

.u-section-5 .u-shape-2 {
  width: calc(((100% - 1140px) / 2) + 435px);
  height: 677px;
  background-image: none;
  margin: -610px auto 0 0;
}

.u-section-5 .u-image-1 {
  width: 569px;
  height: 569px;
  margin: -837px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-5 .u-group-1 {
  width: 443px;
  min-height: 456px;
  background-image: none;
  margin: -308px calc(((100% - 1140px) / 2) + 69px) -14px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 30px 40px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 922px;
  }

  .u-section-5 .u-shape-1 {
    height: 535px;
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-5 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + 433px);
    height: 619px;
    margin-top: -541px;
  }

  .u-section-5 .u-image-1 {
    width: 516px;
    height: 504px;
    margin-top: -779px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-group-1 {
    width: 378px;
    min-height: 484px;
    margin-top: -305px;
    margin-right: calc(((100% - 940px) / 2) + 25px);
    margin-bottom: -10px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 872px;
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-5 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 250px);
    height: 581px;
  }

  .u-section-5 .u-image-1 {
    width: 335px;
    height: 359px;
    margin-top: -741px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-group-1 {
    width: 360px;
    margin-top: -167px;
    margin-right: calc(((100% - 720px) / 2) + 13px);
    margin-bottom: -41px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1024px;
  }

  .u-section-5 .u-shape-1 {
    height: 637px;
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-5 .u-shape-2 {
    width: calc(((100% - 540px) / 2) + 180px);
    height: 413px;
    margin-top: -810px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -495px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-group-1 {
    width: 318px;
    margin-top: 0;
    margin-right: calc(((100% - 540px) / 2) + 22px);
    margin-bottom: -146px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1042px;
  }

  .u-section-5 .u-shape-1 {
    height: 655px;
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-5 .u-shape-2 {
    width: calc(((100% - 340px) / 2) + 193px);
    height: 304px;
    margin-top: -828px;
  }

  .u-section-5 .u-image-1 {
    width: 306px;
    height: 327px;
    margin-top: -386px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-group-1 {
    margin: 66px auto -162px calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-6 {
  background-image: none;
  min-height: 1081px;
}

.u-section-6 .u-shape-1 {
  height: 346px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-group-1 {
  width: 446px;
  min-height: 984px;
  background-image: none;
  margin: -276px auto 60px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  text-align: center;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  text-align: justify;
  margin: 59px 0 0;
}

.u-section-6 .u-image-1 {
  width: 355px;
  height: 355px;
  background-image: url("images/nmmnmn.jpg");
  background-position: 50% 50%;
  text-align: start;
  margin: 40px auto 0;
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1052px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1014px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-image-1 {
    width: 320px;
    height: 320px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 1083px;
}

.u-section-7 .u-shape-1 {
  height: 299px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-shape-2 {
  height: 808px;
  width: 303px;
  margin: -212px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-7 .u-image-1 {
  height: 623px;
  width: 968px;
  object-position: 45.65% 50%;
  margin: -742px calc(((100% - 1140px) / 2) + 65px) 0 auto;
}

.u-section-7 .u-group-1 {
  min-height: 373px;
  width: 591px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  height: auto;
  margin: -121px auto 55px calc(((100% - 1140px) / 2));
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 19px auto 0 1px;
}

.u-section-7 .u-text-2 {
  font-size: 3.75rem;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 1;
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 1056px;
  }

  .u-section-7 .u-shape-1 {
    height: 277px;
  }

  .u-section-7 .u-shape-2 {
    height: 736px;
    margin-top: -196px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-image-1 {
    height: 584px;
    width: 795px;
    margin-top: -668px;
    margin-right: calc(((100% - 940px) / 2) + 53px);
  }

  .u-section-7 .u-group-1 {
    margin-top: -100px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 1047px;
  }

  .u-section-7 .u-shape-2 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-image-1 {
    height: 535px;
    width: 588px;
    margin-top: -673px;
    margin-right: calc(((100% - 720px) / 2) + 60px);
  }

  .u-section-7 .u-group-1 {
    margin-top: -86px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 886px;
  }

  .u-section-7 .u-shape-2 {
    height: 529px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-image-1 {
    height: 403px;
    width: 457px;
    object-position: 12.52% 50%;
    margin-top: -466px;
    margin-right: auto;
  }

  .u-section-7 .u-group-1 {
    min-height: 349px;
    width: 433px;
    margin-top: -80px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 818px;
  }

  .u-section-7 .u-shape-1 {
    height: 255px;
  }

  .u-section-7 .u-shape-2 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-image-1 {
    height: 266px;
    width: 305px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-group-1 {
    min-height: 318px;
    width: 305px;
    margin-top: 38px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-7 .u-text-2 {
    font-size: 2.25rem;
  }
} .u-section-8 {
  background-image: none;
  min-height: 774px;
}

.u-section-8 .u-shape-1 {
  height: 404px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1140px;
  margin: -324px auto 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 359px;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 17px 87px 0 0;
}

.u-section-8 .u-text-2 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-8 .u-text-3 {
  font-size: 1.25rem;
  margin: 28px 0 0;
}

.u-section-8 .u-btn-1 {
  padding: 0;
}

.u-section-8 .u-layout-cell-2 {
  background-image: none;
  min-height: 275px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-4 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 240px;
  min-width: 160px;
  margin: 30px auto 0 0;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-icon-4 {
  height: 100%;
}

.u-section-8 .u-icon-5 {
  height: 100%;
}

.u-section-8 .u-text-5 {
  font-size: 1.25rem;
  margin: 26px 0 0;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 634px;
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-8 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
}

.u-section-8 .u-form-1 {
  height: 338px;
  margin: 23px 17px 0 0;
}

.u-section-8 .u-form-group-1 {
  width: 100%;
}

.u-section-8 .u-form-group-2 {
  width: 100%;
}

.u-section-8 .u-form-group-3 {
  width: 100%;
}

.u-section-8 .u-form-group-4 {
  width: 100%;
}

.u-section-8 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 722px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 267px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 523px;
  }

  .u-section-8 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 773px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 873px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-4 {
    font-size: 1.5rem;
  }
}